{% extends "base.html" %}
{% block title %}Cartelera de FilmBank{% endblock %}
{% block head %}
<style>
    .link-secondary {
        text-decoration: none; /* Quita el subrayado de los enlaces */
    }
    .espacio {
        height: 100px;
    }
    .contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80vh;
    }
</style>
{% endblock %}
{% block body %}
<div>
    <div class="contenedor">
        <h1>Catalogo de revistas</h1>
        <h2>En esta pagina se pueden ver todas las revistas de la pagina de scimagojr</h2>
    <div class="espacio">
    </div>
    </div>
</div>



{% endblock %}